

$min-width: 1226px;


// 常规字体大小
$fontA: 80px;
$fontB: 38px;
$fontC: 28px;
$fontD: 26px;
$fontE: 24px;
$fontF: 22px;
$fontG: 18px;
$fontH: 16px;
$fontI: 14px;
$fontG: 12px;
$fontK: 11px;

//常规颜色
$colorA: #FF6600 !default; //强调的文体，按钮，
$colorB: #333333 !default; // 较为重要的文字信息，内页标题
$colorC: #666666 !default; //普通段落信息，引导词
$colorD: #999999 !default; // 辅助次要的问题信息，普通按钮描边
$colorE: #cccccc !default; // 特别弱的文字
$colorF: #d7d7d7 !default; // 分割线，标签描边
$colorG: #ffffff !default; // 导航栏文字，白色背景
$colorH: #e5e5e5 !default; //上下分割线
$colorI: #000000 !default; //纯黑背景
$colorG: #f5f5f5 !default; //弹框标题背景色
$colorK: #FFFA7F !default; //订单背景黑色


